html,
body {
  height: 100%;
  margin: 0;
  position: relative;
}

#container {
  background-image: url(./img/space.png);
  top: 50%;
  left: 50%;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  transform: translate(-50%, -50%);
}
.story {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(125, 214, 165);
  text-shadow: 2px 2px 8px rgba(2, 2, 2, 0.8);
  padding: 20px 50px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  z-index: 9999;
  width: 60%;
  max-width: 600px;
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
  transition: transform 0.1s ease-in-out;
  animation: glow 1.5s infinite alternate;
  animation: blink 1s glow 1.5s infinite alternate;

}

/* Show story messages smoothly */
.story.show {
  opacity: 1;
}

.alien {
margin-top: 32px;
width: 50px;
height: 50px;
position: absolute;
left: 0;
top: 50%;
transform: translateY(-50%);
animation: moveAlien 3s linear infinite;
}

/* Speed up aliens after 600 points */
.alien.faster {
animation-duration: 1.5s;
}





.alien {
  margin-top: 32px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.ship {
  width: 150px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.bullet {
  position: absolute;
  width: 10px;
  height: 20px;
  z-index: 10;
}

/* .fps-display {
  position: fixed;
  top: 10px;
  right: 10px;
  background: rgba(0, 29, 126, 0.7);
  color: white;
  padding: 5px;
  font-family: monospace;
} */

