.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}