

.start_game{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.heartsCount {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.heart {
    right: 50%;
    width: 30px;
    height: 30px;
    filter: drop-shadow(0 0 4px rgba(255, 0, 0, 0.5));
}

.score {
    background: rgba(0, 0, 0, 0.7);
    padding: 5px;
    border-radius: 4px;
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: large;
    color: aliceblue;
}

 #game-over-container {
    position: fixed; /* Positionner le menu de manière fixe à l'écran */
    top: 50%; /* Centrer le menu verticalement */
    left: 50%; /* Centrer le menu horizontalement */
    transform: translate(-50%, -50%); /* Ajuster pour centrer parfaitement */
    background-color: rgba(212, 201, 201, 0.7); /* Fond semi-transparent */
    color:rgb(226, 11, 11); /* Texte en blanc */
    padding: 20px; /* Un peu de marge autour du texte */
    border-radius: 10px; /* Coins arrondis */
    text-align: center; /* Centrer le texte */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Choisir une police simple */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Ombre douce autour du menu */
 }

 #game-over-container span {
     font-size: 2em;
     font-weight: bold;
     color: black;
 }

 .game-won {
     font-size: 5rem;
     font-weight: bold;
     color: yellow;
 }

 .R {
     font-size: 1.5rem;
     margin-top: 1rem;
     color: gray;
 }